*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(45 0 0);
  
}


.fondo_input{
    background-color: #000000ba;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 998;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}

.cont_input2{
    background-color: #a52a2a00;
    display: flex;
    align-items: center;
}

.cont_input2 input{
    width: 100%;
    padding: 10px 20px;
    font-size: 30px;
    background-color: rgba(255, 0, 0, 0);
    border-right: none;
    border-left: none;
    border-top: none;
    border-color: white;
    color: white;
}

.cont_input2 input:focus{
    outline: none;
}

.cerrar{
    color: white;
    font-size: 25px;
}





.titulo_cont_music{
   /* background-color: red;*/
    margin: auto;
    width: 90%;
    color: white;
    margin-top: 100px;
}



.cont_musica{
   /* background-color: rgb(124, 8, 8);*/
    margin: auto;
    width: 90%;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #858585;
    position: absolute;
    margin: auto;
    width: 100%;
    top: 50px;
    display: flex;
    flex-direction: column;
}





.cont_header{
    position: relative;
}

.img_music{
    text-align: center;
}

.img_music img{
    width: 85%;
    border-radius: 6em;
}



.card_musica{
    color: white;
    background-color: #101316;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.link_card{
    color: #ff5500;
    text-decoration: none;
    border-color: #ff5500;
    border-style: solid;
    border-radius: 2em;
    padding: 2px 10px;
border-width: 1px;
}


.cont_musica a{
    padding: 0 20px;
    color: white;
    background-color: black;
    display: flex;
    gap: 10px;
    background-color: #242424;  
    text-decoration: none;
}

.cont_musica{
    gap: 1px;
}

.cont_musica a:hover{
    background-color: #535353;
}

















.contenedor_pagina{
    display: flex;
    margin-top: 100px;
}

aside{
    transition: all 0.30s;
  background-color: rgb(45 0 0);

  background-color: #010305;
    position: fixed;
  
    width: 250px;
    width: 190px;
   
    height: 100%;
    border-color: black;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-width: 1px;
    margin-top: 30px;
    margin-top: -68px;
 
}

aside .links_aside a {
    color:#ff5500;
}



.contenido{
    transition: all 0.30s;
   /* background-color: darkblue;*/
    flex-grow: 1;
    margin-left: 350px;
    margin-left: 250px;
}

.menu{
    font-size: 25px;
    cursor: pointer;
}

.titulo_aside{
   /* background-color: black;*/
    margin: auto;
    width: 90%;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    align-items: center;
    gap: 30px;
}


.links_aside{
  /*  background-color: black;*/
    margin: auto;
    margin-top: 20px;
    margin-top: 50px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 0px;
}








.links_aside a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
 opacity: 1;
    gap: 20px;
    padding: 5px 0;
    color: #ff5500;
}
.links_aside p{
    color: white;
}



.links_aside a h3{
    font-size: 20px;
}





/*ESTILOS DE ANIMACINO*/
.trasladar_aside{
    transition: all 0.30s;
    width: 350px;
    width: 150px;
    width: 2px;
    opacity: 0;
}

.empujar_contenido{
    transition: all 0.30s;
    margin-left:350px ;
    margin-left: 150px;
    margin-left: 2px;
}

.desaparecer_links{

    display: none;


}


/*ESTILOS PARA EL TITULO CONTENIDO*/

.titulo_contenido{
  /*  background-color: brown;*/
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.titulo_contenido h1{
font-family: 'Rubik', sans-serif;


/*font-family: 'Ysabeau SC', sans-serif;*/
}




.registro{
    display: flex;
    align-items: center;
    gap: 20px;
}

.registro a{
    transition: all 0.30s;
    background-color: white;
    color:#150000;
    text-decoration: none;
    border-radius: 2em;
    padding: 5px 20px;
    font-weight: bold;
}
.registro a:hover{
    background-color: black;
    color: white;
}







#fondo_contenido{
  /*  background-color:#001d47;*/
    color: white;
}

/*ESTILOS DE LA PLAY LIST*/

#fondo_playlist{
   /* background-color: #001d47;*/
    padding: 1px;
    margin-top: 50px;
}


.titulo_playlist{
    margin: auto;
    width: 90%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Rubik', sans-serif;
    margin-top: 100px;
}

.titulo_playlist a{
    color: grey;
    font-weight: bold;
}


/*ESTILOS PARA EL CONTENEDOR DE LAS CARDS*/


.cont_playlist{
  /*  background-color: brown;*/
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
gap: 20px;
}

.img_card{
    text-align: center;
}

.img_card img{
    width: 100%;
    height: 100%;
}

.card{
    transition: all 0.20s;
    background-color: #150000;
    background-color: #3a3c3e7a;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.card:hover{
    transition: all 0.20s;
    background-color: #8f8f8f7a;
}

.img_card{
    position: relative;
}

.hover_card{
    background-color: rgba(20, 19, 19, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.hover_card i{
    font-size: 50px;
}



.card h4{
    margin-bottom: -9px
}



/*ESTILOS PARA EL CONT FOOTER*/

.cont_footer{
  /*  background-color: brown;*/
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 10px;
}


.columnas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 44px;
}

.col1,.col2,.col3{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.col1 a{
    text-decoration: none;
    color: #A7A7A7;
}
.col2 a{
    text-decoration: none;
    color: #A7A7A7;
}
.col3 a{
    text-decoration: none;
    color: #A7A7A7;
}

.redes{
   /* background-color: red;*/
    font-size: 30px;
    display: flex;
    gap: 20px;
}


.redes a{
    color: white;
}



#fondo1{
    margin: auto;
    width: 90%;
    background: linear-gradient(to right, #510000a1, #270000d9), url(https://static.billboard.com/files/media/kiss-performance-2015-billboard-1548-1024x677.jpg);;
 
background-position: center;
    height: 60vh;
background-repeat: no-repeat;
background-size: cover;
display: flex;
align-items: center;
border-radius: 10px;
display: none;
}


.cont_fondo1{
  /*  background-color: brown;*/
    width: 70%;
    margin: auto;
    color: white;
    font-family: 'Rubik', sans-serif;
}

.cont_fondo1 h1{
    font-size: 95px;
}


.boton_play{
    transition: all 0.30s;
    background-color: black;
    color: white;
text-decoration: none;
border-radius: 2em;
padding: 8px 70px;
font-weight: bold;
font-size: 20px;
}

.boton_play:hover{
    transition: all 0.30s;
    background-color: white;
    color: black;
}

.linea{
    margin: auto;
    width: 90%;
    border-color: #676767;
    border-style: solid;
    border-width: 1px;
}

.copy{
    margin: auto;
    width: 90%;
    color: grey;
}

.copy a{
   color: grey;
}










::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Fondo de la barra de desplazamiento */
  ::-webkit-scrollbar-track {
    background-color: black;
  }
  
  /* Color de la barra de desplazamiento */
  ::-webkit-scrollbar-thumb { 
    background-color:#ff5500;
    border-radius: 2em;
  }
  
  /* Esquina redondeada de la barra de desplazamiento */
  ::-webkit-scrollbar-corner {
    background-color: black;
  }



.menu_oculto1{

    transition: all 0.30s;
    position: fixed;
    background-color: black;
    right: 0;
    width: 70%;
    width: 0px;
    float: right;
    height: 100%;
   padding-left: 50px;
   padding-top: 100px; 
z-index: 990;
   padding: 100px 0px;
}

.trasladar_menu2{
    width: 70%;
    padding-left: 50px;
    padding-top: 100px; 
}



.menu_oculto1 a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;

}

.equis{
    font-size: 30px;
    cursor: pointer;
}

.menu2{
    font-size: 25px;
    display: none;
    cursor: pointer;
}

.titulo_contenido{
    display: none;
}

/*ESTILOS PARA EL HEADER*/
header{
    background-color: #010305;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 990;
 margin-bottom: 1000px;
}




.cont_header{
    margin: auto;
    width: 94%;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    padding: 30px 0;
}


.cont_input{
    background-color: black;
    border-radius: 2em;
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;

border-radius: 2em;
}

.cont_input input{
    width: 100%;
    border-radius: 2em;
    background-color: #3a3c3e;
    padding: 10px 20px;
    caret-color: white; 
    border-color: #3a3c3e;
    border-style: solid;
    color: white;
}

.cont_input input::placeholder{
    color: white;
    font-weight: bold;
}

.cont_input input:focus{
    outline: none;
}


.lupa{
    position: absolute;
    right: 10px;
    color: white;
}


.cont_header nav a{
    color: white;
    text-decoration: none;
}

.cont_header nav a:last-child{
    background-color: #ff5500;
    border-radius: 2em;
    padding: 5px 20px;
}

body{
    background-color: #010305;
}


.cont_header nav{
    display: flex;
    align-items: center;
    gap: 20px;
}


.cont_albunes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;

    width: 90%;
    gap: 20px;
}

.card_album{
    text-align: center;
}

.card_album img{
    width: 90%;
}


.titulo_album{

    color: white;

 margin: auto;
 margin-top: 39px;
 width: 90%;
}

/*ESTILOS PARA LOS HOVERS DE LAS ALBUM CARDS*/
.card_album{
    position: relative;
    
}

.hover_album{
    cursor: pointer;
  background-color: rgb(0 0 0 / 53%);;
    position: absolute;
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
justify-content: flex-end;


}
.cont_hover{
 /*background-color: #0000003b;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
   
    
}
.des1 h4{
    color: white;
}


.des1 p{
    color: grey;
}


.des2 a{
    background-color: white;
    color: black;
    border-radius: 2em;
    padding: 5px 10px;
 
}



.fondo_cargando{
    background-color: black;
  /*  background-image: url(https://1.bp.blogspot.com/-q12PzLWSVYo/Xjl1YhuzYHI/AAAAAAAIG8I/YcGTtJid0qEG4oS2G0JB-MNmuDU69nrKACLcBGAsYHQ/s1600/d8acc33a-5517-4111-8df6-222adc9cb3e4.gif);*/
   background-size: cover;
   background-position: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff5500;
}



































































@media (max-width: 1324px){


    .cont_playlist{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

.links_aside a{
    font-size: 13px;
}

.links_aside{
    margin-top: 17px;
}

}














@media (max-width: 1100px){
    .cont_playlist{
        grid-template-columns: 1fr 1fr 1fr;
    }


    
}














@media (max-width: 980px){
    .cont_playlist{
        grid-template-columns: 1fr 1fr 1fr;
    }

    aside{
    display: none;
    }
    .contenido{
        margin: 0;
    }

.cont_footer{
   /* background-color: red;*/
    display: flex;
    flex-direction: column;
    gap: 100px;
}

#fondo1{
    width: 100%;
}

.titulo_contenido{
    display: flex;
}

.menu2{
    display: initial;
}

header{
    display: none;
}


.registro{
    display: none;
}


.cont_albunes{
    grid-template-columns: 1fr 1fr ;
}

.contenedor_pagina{
    margin-top: 0px;
}


.titulo_playlist{
    margin-top: 19px;
}

.fondo_input_oculto{
    background-color: #00000070;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 995;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont_input2{
    width: 77%;
}

.cont_input2 input{
    width: 100%;
    font-size: 29px;
    padding: 3px 12px;
    background-color: #ffffff00;
    border-color: white;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
}

.cont_input2 input :focus{
    outline: none;
    border-top: none;
}

.cont_input2 input::placeholder{
   
}



}



































@media (max-width:700px){
    .cont_playlist{
grid-template-columns: 1fr 1fr ;
    }

    .registro{
        display: none;
    }

    .menu2{
        display: initial;
    }

    .cont_fondo1 h1{
font-size: 40px;
margin: 60px 0;
    }

    .boton_play{
        font-size: 17px;
    }

    .columnas{
        grid-template-columns: 1fr 1fr;
    }

    .copy{
        text-align: center;
    }


  /*  aside{
        display: none;
    }*/


    .contenido{
        margin: 0;
    }


    .cont_albunes{
        grid-template-columns: 1fr 1fr;
    }


.cont_musica{
    grid-template-columns: 1fr 1fr;
}


}





















@media (max-width:400px){

.boton_play{
    font-size: 17px;
    padding: 4px 22px;
}

.cont_playlist{
    grid-template-columns: 1fr;
}


.columnas{
    grid-template-columns: 1fr;
}

#fondo1{
    width: 100%;
}
.trasladar_menu2{
    padding-left: 30px;
    width: 80%;
}

.cont_albunes{
    grid-template-columns: 1fr;
}


.cont_musica{
    grid-template-columns: 1fr;
    
}


}